@{
    Layout = "_LatihanLayout";
}

    <h1 class="test" id="test2">List Pokemon</h1>

@*<ul id="listPoke">
        <li></li>
    </ul>*@

    <table class="table table-striped table-hover">
        <thead class="table-dark">
            <tr>
                <th>No</th>
                <th>Nama</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody id="tbodyPoke">  
        </tbody>
    </table>

<!-- Modal -->
<div class="modal fade" id="modalPoke" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTitle">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-4">
                        <img id="pokeImage" src="" alt="Pokemon Image" style="width: 150px; height: auto;">
                    </div>
                    <div class="col-md-8">
                        <h4 id="pokeName"></h4>
                        <div id="pokeTypes"></div>
                        <div class="row">
                            <div class="col-md-6">
                                <h5>Stats:</h5>
                                <ul id="statsList"></ul>
                            </div>
                            <div class="col-md-6">
                                <h5>Moves:</h5>
                                <ul id="movesList">
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

 @section LatihanAjax{
     <script src="~/js/LatihanAjax.js" ></script>
 }